body {
  min-width:300px;
  max-width: 100%;
  font-family: 'Oxygen', 'Arial', 'Sans-serif';
}

ul {
	padding-left: 0px;
	list-style-type: none;
}

li {
	padding: 3px 0px 3px 20px;
}

div.tab_info {
	text-align: left;
}

div.tab_el:hover {
	width: 100%;
	background-color: #FFFF66;
	box-shadow: inset 0 0 2px #808080;
}

#title  {
	-webkit-box-shadow: 0 4px 4px -2px #000000;
   	-moz-box-shadow: 0 4px 4px -2px #000000;
    box-shadow: 0 4px 4px -2px #000000;
	text-align: center;
	background-color: #CCFF99;
}

#searchInput {
	width: 100%;
	display: table-cell;
	border-radius: 10px;
	outline: none;
}