body {
	margin: 0px;
  min-width: 300px;
  max-width: 100%;
  font-family: 'Oxygen', 'Arial', 'Sans-serif';
}

ul {
	padding-left: 0px;
	list-style-type: none;
}

li {
	display: inline-block;
	padding: 3px 0px 3px 5px;
}

img {
	display: inline-block;
	max-height: 12px;
	max-width: 12px;
	padding-left: 10px;
}

div.selected {
  width: 100%;
  background-color: #FFFF66;
  box-shadow: inset 0 0 2px #808080;
}

div.tab_info {
	text-align: left;
}

div.tab_el:hover {
	width: 100%;
	background-color: #E0E0E0;
	box-shadow: inset 0 0 2px #FFFF66;
}

#title  {
	-webkit-box-shadow: 0 4px 4px -2px #000000;
   	-moz-box-shadow: 0 4px 4px -2px #000000;
    box-shadow: 0 4px 4px -2px #000000;
	text-align: center;
	background-color: #CCFF99;
}

#search {
	padding: 10px;
} 

#searchInput {
	width: 100%;
	display: table-cell;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}
